<a href="{{item.address}}">
  <div class="card">
    <img src="{{item.featuredImage.src}}" alt="{{item.featuredImage.alt}}" />
    <h3>{{item.title}}</h3>
    <p>{{item.content}}</p>
    <p>{{item.date}}</p>
    <p class="newsbutton uppercase">lees meer</p>
  </div>
</a>