<button class="minus" {{action this.decreaseValue}} >-</button>
<div class="value">
  {{#if key}}
    {{get @value key}}
  {{else}}
    {{@value}}
  {{/if}}
</div>
<button class="plus" {{action this.increaseValue}}>+</button>
