<div class="card {{detailClass}}">
  <div class="picture-info" {{action (mut showDetail) (not showDetail)}} role="button">
    <div class="picture">
      <ProductCard::Thumbnail @product={{product}} />
    </div>
    <div class="icons">
      <span class="icon icon-1"><img src="/images/favob.png" alt="Favorite icon"/></span>
      <span class="icon icon-2"><img src="/images/vries.png" alt="Frozen icon"/></span>
      <span class="icon icon-3"><img src="/images/product-logo.png" alt="Make icon"/></span>
    </div>
  </div>

  <div class="description">
    <div class="product-title">{{#if @product}}{{product.label}}{{else}}Kotelet{{/if}}</div>
    <div class="alternative-terms">{{@product.altLabel}}</div>
  </div>

  <div class="amounts">
    <div class="configuration">
      <div class="per-pakje">
        Per pakje: <ProductCard::Offers @product={{@product}} @onChange={{mut this.selectedOffer}} @selected={{this.currentOffer}} />
      </div>

      <div class="pakjes">
        Pakjes: {{number-button value=packageCount }}
      </div>      
    </div>

    <div class="image-of-packages">
      <EachCount @count={{packageCount}}>
        <div class="image-spacing-wrapper">
          {{#if (eq this.currentOffer.typeAndQuantity.unit "C62")}}
            {{#with this.currentOffer.typeAndQuantity.value as |amount|}}
              <img src={{concat "/images/packages/items-" amount ".png"}} alt={{concat "Package with " amount "items in it"}} />
            {{/with}}
          {{/if}}
        </div>
      </EachCount>
    </div>
  </div>

  <div class="actions">
    <div class="button-product" role="button" {{action this.add}} ><span>Bestel</span></div>
    <div class="button-product">{{link-to "Meer..." "webshop.product" product}}</div>
  </div>
</div>
