<div class="card {{detailClass}}">
  <div class="picture-info" {{action (mut showDetail) (not showDetail)}} role="button">
    <div class="picture">
      <img src="/images/meat-image.jpg" class="image" alt="Placeholder image of shown product">
    </div>
    <div class="icons">
      <span class="icon icon-1"><img src="/images/favob.png" alt="Favorite icon"/></span>
      <span class="icon icon-2"><img src="/images/vries.png" alt="Frozen icon"/></span>
      <span class="icon icon-3"><img src="/images/product-logo.png" alt="Make icon"/></span>
    </div>
  </div>

  <div class="description">
    <div class="product-title">Kotelet</div>
    <div class="alternative-terms">Andere kotelet - Iets Frans</div>
  </div>

  <div class="amounts">
    <div class="configuration">
      <div class="per-pakje">
        Per pakje: {{number-button value=packageAmount }}
      </div>

      <div class="pakjes">
        Pakjes: {{number-button value=packageCount }}
      </div>      
    </div>

    <div class="image-of-packages">
      <EachCount @count={{packageCount}}>
        <div class="image-spacing-wrapper">
          <img src={{concat "/images/packages/items-" packageAmount ".png"}} alt={{concat "Package with " packageAmount "items in it"}} />
        </div>
      </EachCount>
    </div>
  </div>

  <div class="actions">
    <div class="button-product">{{link-to "Bestel" "index"}}</div>
    <div class="button-product">{{link-to "Meer..." "index"}}</div>
  </div>
</div>
