<div class="top-menu__main-menu {{mobileIsOpenClass}}">
  <div class="logo-veeakker">
    <span property="name" content="Veeakker"></span>
    <span property="url" content="https://veeakker.be/"></span>
    {{#link-to "index"}}
      <img src="/images/veeakker.png" alt="Veeakker brand name in written front" />
    {{/link-to}}
  </div>
  <div id="veeakker-menu" class="overlay">
    <a href="#" class="closebtn" {{action this.closeNav}}>&times;</a>
    <div class="talen-mobile">
      <LanguageList />
    </div>
    <div class="fix"></div>
    <ul class="overlay-content menu-links">
      <li>{{link-to "Over ons" "about"}}</li>
      <li>{{link-to "Producten" "products"}}</li>
      <li>{{link-to "Nieuws" "news"}}</li>
      <li><a href="webshop">Webshop</a></li>
      <li>{{link-to "Locaties" "locations"}}</li>
      <li>{{link-to "Contact" "index" (query-params a="contact")}}</li>
    </ul>
  </div>
  <div class="fix"></div>
  <div class="mobile-menu"><span class="menu-small" tabindex="0" {{action this.openNav}}>&#9776;</span></div>
</div>
