<div class="sub-menu ml-4">
  <Webshop::LeftMenu::ParentGroups @topGroup={{@productGroup}} @productGroup={{@productGroup}} />
  <ul class="mt-5 pl-0">
    {{#each sortedSubGroups as |group|}}
      <li>
        <LinkTo @route="webshop.product-groups.show.subgroups.show" @models={{array @productGroup group}} class="uppercase">{{group.label}}</LinkTo>
      </li>
    {{/each}}
  </ul>
  <div class="fix"></div>
</div>

{{yield}}
