{{#each @orderLines as |orderLine|}}
  <div class={{concat "cart-item" (if orderLine.product.isEnabled "" " product-disabled")}}>
    <LinkTo class="cart-thumbnail" @route="webshop.product" @model={{orderLine.product}}>
      <ProductCard::Thumbnail @product={{orderLine.offering.typeAndQuantity.product}} />
    </LinkTo>
    <div class="order-info">
      <h3>
        <LinkTo @route="webshop.product" @model={{orderLine.product}}>
          {{orderLine.offering.typeAndQuantity.product.label}}
        </LinkTo>
      </h3>
      <h4><Webshop::Basket::Amount @amount={{orderLine.offering.typeAndQuantity}} /> <i class="fas fa-times"></i>{{orderLine.amount}} pakje{{#if (gte orderLine.amount 2)}}s{{/if}}</h4>
      {{#if @removeOrderLine}} {{!-- editable --}}
        <Util::OpenClosed @defaultOpen={{orderLine.monitoredComment}}>
          <:open>
          <Textarea style="width: 100%" @value={{orderLine.monitoredComment}} placeholder="Opmerking" />
          {{#if orderLine.commentChanged}}
            <button class="button-product" type="button" {{on "click" (fn this.persistCommentFn orderLine)}}>Opslaan</button>
            {{/if}}
          </:open>
          <:closed as |commentHolder|>
            <button class="add-comment-button" type="button" {{on "click" commentHolder.makeOpenFn}}>Voeg opmerking toe</button>
          </:closed>
        </Util::OpenClosed>
      {{else}}
        {{#if orderLine.monitoredComment}}
          <span style="color: black;">{{orderLine.monitoredComment}}</span>
        {{/if}}
      {{/if}}
    </div>
    <div class="order-extra">
      <h4>{{euros orderLine.pricePerUnit}} / pakje</h4>
      <br>
      {{#if @removeOrderLine}}
        <button id="remove-button" {{on "click" (fn @removeOrderLine orderLine.offering orderLine.amount)}} type="button">
          <i class="fas fa-trash"></i>
        </button>
      {{/if}}
      <h4 id="total-text">Totaal: {{euros orderLine.price}}</h4>
    </div>
  </div>
{{/each}}