<a href={{this.item.address}}>
  <div class="card">
    <img src={{this.item.featuredImage.src}} alt={{this.item.featuredImage.alt}} />
    <h3>{{this.item.title}}</h3>
    <p>{{this.item.content}}</p>
    <p>{{this.item.date}}</p>
    <p class="newsbutton uppercase">lees meer</p>
  </div>
</a>
