<div class="number-button">
  <button id="minus-button" {{action this.decreaseValue}} >-</button>
  <div id="number-value">
    {{#if this.key}}
      {{get @value this.key}}
    {{else}}
      {{@value}}
    {{/if}}
  </div>
  <button id="plus-button" {{action this.increaseValue}}>+</button>
</div>
