<div class="number-input">
  <div class="number-button">
    <button class="minus-button" {{action this.decreaseValue}} type="button" >-</button>
    <div class="number-value">
      {{#if @key}}
        {{get @value @key}}
      {{else}}
        {{@value}}
      {{/if}}
    </div>
    <button class="plus-button" {{action this.increaseValue}} type="button">+</button>
  </div>
</div>