<div class="number-button">
  <button class="minus inline-block p-1" {{action this.decreaseValue}} >-</button>
  <div class="value inline-block">
    {{#if this.key}}
      {{get @value this.key}}
    {{else}}
      {{@value}}
    {{/if}}
  </div>
  <button class="plus inline-block p-1" {{action this.increaseValue}}>+</button>
</div>
