<div class="product-card {{this.detailClass}}">
  <div
    class={{concat "picture-info" (if @product.isEnabled "" " product-disabled")}}
    {{action (mut this.showDetail) (not this.showDetail)}}
    role="button">

    <div class="picture">
      <ProductCard::Thumbnail @product={{@product}} />
    </div>
    <div class="icons">
      {{#each @product.enabledLabelArray as |label|}}
        <span class="icon icon-2"><img src={{label.image}} alt={{concat label.label "icon"}}/></span>
      {{/each}}
    </div>
  </div>

  <div class="description">
    <div class="product-title">{{#if @product}}{{@product.label}}{{else}}Kotelet{{/if}}</div>
    <div class="alternative-terms">{{@product.altLabel}}</div>
  </div>

  {{#if @product.isEnabled}}
    <div class="amounts">
      <div class="configuration">
        <div class="per-pakje">
          Per pakje:
          <div class="per-pakje-input">
            <ProductCard::Offers @offers={{this.possibleOffers}} @onChange={{action (mut this.selectedOffer)}} @selected={{this.currentOffer}} />
            {{#if @product.offerings}}
              <div class="eenheid">
                <select class="select-eenheid" name="units" onchange={{action "selectValue" value="target.value"}}>
                  {{#each this.availableUnits as |unit|}}
                    <option value={{unit}}>{{unit}}</option>
                  {{/each}}
                </select>
              </div>
            {{/if}}
          </div>
        </div>

        <div class="pakjes">
          Pakjes: <NumberButton @value={{this.packageCount}} @onChange={{action (mut this.packageCount)}} />
        </div>
      </div>

      <ProductCard::PackagesImage @count={{this.packageCount}} @offer={{this.currentOffer}} />
    </div>

    <div class="actions">
      <button class="button-product" type="button" {{on "click" this.add}}>Bestel</button>
      <LinkTo class="button-product" @route="webshop.product" @model={{@product}}>Meer...</LinkTo>
    </div>
  {{else}}
    <div class="product-not-available">
      Dit product is momenteel niet beschikbaar
    </div>
    <div class="actions">
      <div class="button-product"><LinkTo @route="webshop.product" @model={{@product}}>Meer...</LinkTo></div>
    </div>
  {{/if}}
</div>
