<div class="card {{this.detailClass}}">
  <div class="picture-info" {{action (mut this.showDetail) (not this.showDetail)}} role="button">
    <div class="picture">
      <ProductCard::Thumbnail @product={{@product}} />
    </div>
    <div class="icons">
      {{#each @product.enabledLabelArray as |label|}}
        <span class="icon icon-2"><img src={{label.image}} alt={{concat label.label "icon"}}/></span>
      {{/each}}
    </div>
  </div>

  <div class="description">
    <div class="product-title">{{#if @product}}{{this.product.label}}{{else}}Kotelet{{/if}}</div>
    <div class="alternative-terms">{{@product.altLabel}}</div>
  </div>

  <div class="amounts">
    <div class="configuration">
      <div class="per-pakje">
        Per pakje: <ProductCard::Offers @product={{@product}} @onChange={{action (mut this.selectedOffer)}} @selected={{this.currentOffer}} />
      </div>

      <div class="pakjes">
        Pakjes: <NumberButton @value={{this.packageCount}} />
      </div>
    </div>

    <ProductCard::PackagesImage @count={{this.packageCount}} @offer={{this.currentOffer}} />
  </div>

  <div class="actions">
    <div class="button-product" role="button" {{action this.add}} ><span>Bestel</span></div>
    <div class="button-product"><LinkTo @route="webshop.product" @model={{@product}}>Meer...</LinkTo></div>
  </div>
</div>
