{{outlet}}
<ul class="breadcrumb-cart">
  <li><LinkTo @route="webshop.basket">Winkelmandje</LinkTo></li>
  <li><span class="breadcrumb-txt">Uw Gegevens</span></li>
  <li><span class="breadcrumb-nxt">Levering / Afhaling</span></li>
  <li><span class="breadcrumb-nxt">Betalingsgegevens</span></li>
  <li><span class="breadcrumb-nxt">Bevestig Bestelling</span></li>
</ul>
<div class="checkout-contact">
  <div class="contact-info">
    <h2>Contact informatie</h2>
    <p>Heeft u al een account? <a href="login">Aanmelden</a></p>
    <div class="fix"></div>

    <Input @value={{this.email}} placeholder="E-mail" />

    <br />

    <h2>Vul je gegevens in:</h2>
    <Input @value={{this.name}} placeholder="Naam" /> <br />
    <Input @value={{this.company}} placeholder="Bedrijf + BTW nummer (optioneel)" /> <br />
    <Input @value={{this.street}} placeholder="Straat" /> <br />
    <Input @value={{this.houseNumber}} placeholder="Huisnummer" /> <br />
    <Input @value={{this.postalCode}} placeholder="Postcode" /> <br />
    <Input @value={{this.city}} placeholder="Gemeente" /> <br />
    <Input @value={{this.phone}} placeholder="Gsm / Tel waarop bereikbaar bij levering / afhaling" /> <br />

    <div class="button-product-cart"><LinkTo @route="webshop.checkout.delivery">Verder bestellen</LinkTo></div>
  </div>
</div>
{{outlet}}
