{{outlet}}
<ul class="breadcrumb-cart">
  <li>{{link-to "Winkelmandje" "webshop.basket"}}</li>
  <li><span class="breadcrumb-txt">Uw Gegevens</span></li>
  <li><span class="breadcrumb-nxt">Levering / Afhaling</span></li>
  <li><span class="breadcrumb-nxt">Betalingsgegevens</span></li>
  <li><span class="breadcrumb-nxt">Bevestig Bestelling</span></li>
</ul>
<div class="fix"></div>
<div class="checkout-contact">
  <div class="contact-info">
    <h2>Contact informatie</h2>
    <p>Heeft u al een account? <a href="login">Aanmelden</a></p>
    <div class="fix"></div>

    {{input value=this.email placeholder="E-mail"}}

    <br />

    <h2>Vul je gegevens in:</h2>
    {{input value=this.name placeholder="Naam"}} <br />
    {{input value=this.company placeholder="Bedrijf + BTW nummer (optioneel)"}} <br />
    {{input value=this.street placeholder="Straat"}} <br />
    {{input value=this.houseNumber placeholder="Huisnummer"}} <br />
    {{input value=this.postalCode placeholder="Postcode"}} <br />
    {{input value=this.city placeholder="Gemeente"}} <br />
    {{input value=this.phone placeholder="Gsm / Tel waarop bereikbaar bij levering / afhaling"}} <br />

    <div class="button-product-cart">{{#link-to "webshop.checkout.delivery" class="uppercase"}}verder bestellen{{/link-to}}</div>
  </div>
</div>
{{outlet}}
