{{outlet}}
<ul class="breadcrumb-cart">
  <li><LinkTo @route="webshop.basket">Winkelmandje</LinkTo></li>
  <li><span class="breadcrumb-txt">Uw Gegevens</span></li>
  <li><span class="breadcrumb-nxt">Levering / Afhaling</span></li>
  <li><span class="breadcrumb-nxt">Klaar</span></li>
</ul>
<div class="checkout-contact">
  <div class="contact-info">
    <h2>Contact informatie</h2>
    <p>Heeft u al een account? <LinkTo @route="login">Aanmelden</LinkTo></p>

    <Input @value={{this.email}} placeholder="E-mail" />

    <br />

    <h2>Vul je contactgegevens in:</h2>
    <Input @value={{mut this.basket.basket.invoice.firstName}} placeholder="Voornaam" /> <br />
    <Input @value={{mut this.basket.basket.invoice.lastName}} placeholder="Achternaam" /> <br />
    <Input @value={{mut this.basket.basket.invoice.company}} placeholder="Bedrijf + BTW nummer (optioneel)" /> <br />
    <Input @value={{mut this.basket.basket.invoice.address.streetAddress}} placeholder="Straat + huisnummer" /> <br />
    <Input @value={{mut this.basket.basket.invoice.address.postalCode}} placeholder="Postcode" /> <br />
    <Input @value={{mut this.basket.basket.invoice.address.locality}} placeholder="Gemeente" /> <br />
    <Input @value={{mut this.basket.basket.invoice.telephone}} placeholder="Gsm / Tel waarop bereikbaar bij levering / afhaling" /> <br />
    <Input @value={{mut this.basket.basket.invoice.email}} placeholder="E-mail adres" /> <br />

    {{#if this.showWarnings}}
      <ul class="error">
        {{#each this.warnings as |warning|}}
          <li>{{warning}}</li>
        {{/each}}
      </ul>
    {{/if}}

    <div class="button-product-cart">
      {{#if this.warnings}}
        <button {{on "click" (fn (mut this.showWarnings) true)}} type="button">Naar levering</button>
      {{else}}
        <LinkTo disabled @route="webshop.checkout.delivery">Naar levering</LinkTo>
      {{/if}}
    </div>
  </div>
</div>

{{outlet}}
