<ul class="breadcrumb-cart">
  <li>{{link-to "Winkelmandje" "webshop.basket"}}</li>
  <li>{{link-to "Uw Gegevens" "webshop.checkout.contact-info"}}</li>
  <li><span class="breadcrumb-txt">Levering / Afhaling</span></li>
  <li><span class="breadcrumb-nxt">Betalingsgegevens</span></li>
  <li><span class="breadcrumb-nxt">Bevestig Bestelling</span></li>
</ul>
<div class="fix"></div>

<div class="checkout-contact">
  <div class="contact-info">
    <h2>Kies je methode van levering / afhaling</h2>

    <br /><br />

    <Webshop::Checkout::Delivery::Checkbox @for="postal" @current={{this.deliveryMethod}}>
      Post.nl €x / gratis vanaf - €x
    </Webshop::Checkout::Delivery::Checkbox>

    <Webshop::Checkout::Delivery::Checkbox @for="tour" @current={{this.deliveryMethod}}>
      Afhaalpunt op Tour Veeakker - gratis
    </Webshop::Checkout::Delivery::Checkbox>

    <Webshop::Checkout::Delivery::Checkbox @for="shop" @current={{this.deliveryMethod}}>
      Afhaalpunt in een winkel - gratis
    </Webshop::Checkout::Delivery::Checkbox>

    {{#if (eq this.deliveryMethod "tour")}}
      <Webshop::Checkout::Delivery::LocationsMap @locationName="tour" />
    {{/if}}

    {{#if (eq this.deliveryMethod "shop")}}
      <Webshop::Checkout::Delivery::LocationsMap @locationName="shop" />
    {{/if}}

    {{#if (eq this.deliveryMethod "postal")}}
      <label class="containerCheck">
        Levering informatie anders dan contact informatie
        <input
          type="checkbox"
          checked={{this.differentDeliveryInfo}}
          {{on "click" (action (mut this.differentDeliveryInfo) (not this.differentDeliveryInfo))}} />
        <span class="checkmark"></span>
      </label>
      
      {{#if this.differentDeliveryInfo}}
        <div class="txtInfo">
          <h2>Vul je gegevens in:</h2>
          {{input value=this.name placeholder="Naam"}} <br />
          {{input value=this.company placeholder="Bedrijf + BTW nummer (optioneel)"}} <br />
          {{input value=this.street placeholder="Straat"}} <br />
          {{input value=this.houseNumber placeholder="Huisnummer"}} <br />
          {{input value=this.postalCode placeholder="Postcode"}} <br />
          {{input value=this.city placeholder="Gemeente"}} <br />
          {{input value=this.phone placeholder="Gsm / Tel waarop bereikbaar bij levering / afhaling"}} <br />
        </div>
      {{/if}}
    {{/if}}


    <p>Zorg voor een diepvries indien je diepgevroren producten bestelt!</p><img class="frost" src="/images/vries.png" alt="Frozen icon" width="25" /><br /><br />

    {{link-to "meer info over leveringen / afhaalpunten" "webshop.collection-points" class="deli uppercase"}}

    <div class="fix"></div><br />
    <div class="cart-total">
      {{!-- TODO: Do we need to have the BTW etc in here or can we render the total price? --}}
      {{!-- TODO: Can we make price excluding taxes and delivery cost less visible than the total price? --}}
      {{!-- TODO: Take price of delivery into account --}}
      {{!-- <p>Prijs <span class="money">€67.50</span></p> --}}
      <p>Prijs levering <span class="money">€x</span></p>
      {{!-- <p>BTW 6% <span class="money">€x</span></p>  --}}
      <p>Totaalprijs <span class="money">{{euros basket.totalPrice}}</span></p>    <br />
      <div class="button-product-cart">
        {{link-to (if payDirectly "Betalen" "Bevestigen") "webshop.checkout.payment" disabled=(not this.deliveryMethod)}}
      </div>
    </div>
    <div class="fix"></div>
  </div>
</div>

{{outlet}}
