<ul class="breadcrumb-cart">
  <li><LinkTo @route="webshop.basket">Winkelmandje</LinkTo></li>
  <li><LinkTo @route="webshop.checkout.contact-info">Uw Gegevens</LinkTo></li>
  <li><span class="breadcrumb-txt">Levering / Afhaling</span></li>
  <li><span class="breadcrumb-nxt">Klaar</span></li>
</ul>

<div class="delivery-contact">
  <div class="contact-info">
    <h2>Kies je methode van levering / afhaling</h2>
    <LinkTo @route="collection-points" id="extra-info">Klik hier voor meer info over leveringen / afhaalpunten</LinkTo>

    <br /><br />

    <Webshop::Checkout::Delivery::Checkbox @for="postal" @current={{this.deliveryMethod}}>
      Thuislevering (€25 - gratis vanaf €150 - gratis tot 27.05.2023)
    </Webshop::Checkout::Delivery::Checkbox>
    {{#if (eq this.deliveryMethod "postal")}}
      <Webshop::Checkout::Delivery::Checkbox @for={{true}} @current={{this.basket.basket.hasCustomDeliveryPlace}}>
        Leveren op een andere locatie
      </Webshop::Checkout::Delivery::Checkbox>
    {{/if}}
    <Webshop::Checkout::Delivery::Checkbox @for="tour" @current={{this.deliveryMethod}}>
      Afhaalpunt op Toer Veeakker - gratis
    </Webshop::Checkout::Delivery::Checkbox>

    {{#if (eq this.deliveryMethod "tour")}}
      <div class="delivery-map">
        <Webshop::Checkout::Delivery::LocationsMap @locationName="tour" @select={{this.basket.setDeliveryPlace}}/>
      </div>

      {{#if this.basket.basket.deliveryPlace}}
        {{#let this.basket.basket.deliveryPlace as |deliveryPlace|}}
          <div class="delivery-place">
            <h4>Geselecteerde punt</h4>
            <p>
              {{deliveryPlace.postalAddress.streetAddress}} <br/>
              {{deliveryPlace.postalAddress.postalCode}} {{deliveryPlace.postalAddress.locality}}
            </p>
          </div>
        {{/let}}
      {{/if}}
    {{/if}}

    {{#if (eq this.deliveryMethod "shop")}}
      <div class="delivery-map">
        <Webshop::Checkout::Delivery::LocationsMap @locationName="shop" />
      </div>
    {{/if}}

    {{#if (eq this.deliveryMethod "postal")}}
      {{#if this.basket.basket.hasCustomDeliveryPlace}}
        <div class="contact-info-different">
          <h2>Vul je lever gegevens in:</h2>
          <Input @value={{mut this.basket.basket.delivery.firstName}} placeholder="Voornaam" /> <br />
          <Input @value={{mut this.basket.basket.delivery.lastName}} placeholder="Achternaam" /> <br />
          <Input @value={{mut this.basket.basket.delivery.company}} placeholder="Bedrijf + BTW nummer (optioneel)" /> <br />
          <Input @value={{mut this.basket.basket.delivery.address.streetAddress}} placeholder="Straat + huisnummer" /> <br />
          <Input @value={{mut this.basket.basket.delivery.address.postalCode}} placeholder="Postcode" /> <br />
          <Input @value={{mut this.basket.basket.delivery.address.locality}} placeholder="Gemeente" /> <br />
          <Input @value={{mut this.basket.basket.delivery.telephone}} placeholder="Gsm / Tel waarop bereikbaar bij alevering / afhaling" /> <br />
          <Input @value={{mut this.basket.basket.delivery.email}} placeholder="E-mail adres" /> <br />
        </div>
      {{/if}}
    {{/if}}

    <!-- <div id="frost-disclaimer">
         <img class="frost" src="/images/vries.png" alt="Frozen icon" width="25" /><p>Zorg voor een diepvries indien je diepgevroren producten bestelt!</p>
         </div> -->

    <div class="cart-total">
      {{!-- TODO: Do we need to have the BTW etc in here or can we render the total price? --}}
      {{!-- TODO: Can we make price excluding taxes and delivery cost less visible than the total price? --}}
      {{!-- TODO: Take price of delivery into account --}}
      {{!-- <p>Prijs <span class="money">€67.50</span></p> --}}
      <p class="cart-price">Prijs levering <span class="money">GRATIS</span></p>
      {{!-- <p>BTW 6% <span class="money">€x</span></p>  --}}
      <p class="cart-price">Totaalprijs <span class="money">{{euros this.basket.totalPrice}}</span></p>    <br />
      <div class="button-product-cart">
        <button type="button" {{on "click" (fn this.confirmOrder)}}>Bevestigen</button>
      </div>
    </div>
  </div>
</div>

{{outlet}}
