<ul class="breadcrumb-cart">
  <li><LinkTo @route="webshop.basket">Winkelmandje</LinkTo></li>
  <li><LinkTo @route="webshop.checkout.contact-info">Uw Gegevens</LinkTo></li>
  <li><LinkTo @route="webshop.checkout.delivery">Levering / Afhaling</LinkTo></li>
  <li><span class="breadcrumb-txt">Klaar</span></li>
</ul>

<div class="checkout-contact">
  <div class="contact-info">

    <div class="contactDetails">
      <h2 style="font-size: 150%">Je bestelling is succesvol geplaatst</h2><br /><br />
      <h3>NIEUW! Andere producten rechtstreeks van de boer?</h3>
      <p>
        Bestel ze op <a style="text-decoration: underline !important" href={{or (and (eq this.basket.deliveryType "http://veeakker.be/delivery-methods/tour") this.basket.deliveryPlace.deliveryRoute.lfwLink) "https://localfoodworks.eu/bestellen/market/9"}}>Local Food Works</a> en we leveren ze samen.  Selecteer de markt in overeenstemming met je leverdatum.
      </p>
      <h3>Wanneer geleverd?</h3>
      <p>
        Indien besteld voor zondag middernacht is uw bestelling
        <ul>
          <li><b>Biotoop:</b> af te halen op vrijdag vanaf 17u00 of zaterdag</li>
          <li><b>Content:</b> af te halen op vrijdag vanaf 17u00, zaterdag of zondag</li>
          <!-- <li><b>Fietskoerier:</b> wordt geleverd op vrijdag vanaf 14u00 (postcode 3000-3018)</li> -->
          <li><b>Toeren:</b> voor de eerstkomende levering<!-- upload list and add link to pdf --></li>
          <li><b>Aan huis:</b>
            <ul>
              <li><b>Regio Leuven:</b> geleverd zaterdag voormiddag</li>
              <li><b>Andere locaties:</b> geleverd zaterdag doorheen de dag tenzij anders afgesproken</li>
            </ul>
          </li>
        </ul>
        </p>
      <h3>Contact informatie</h3>
      {{#if this.basket.customer.id}}
        {{#let this.basket.customer as |customer|}}
          <ul>
            <li>{{customer.firstName}} {{customer.lastName}}</li>
            <li>{{customer.postalAddress.streetAddress}}</li>
            <li>{{customer.postalAddress.postalCode}} {{customer.postalAddress.locality}}</li>
            <li>{{customer.email}}</li>
            <li>{{customer.phone}}</li>
          </ul>
        {{/let}}
      {{else}}
        {{#let this.basket.invoiceAddress as |address|}}
          <ul>
            {{#if address.company}}
              <li>{{address.company}}</li>
            {{/if}}
            <li>{{address.firstName}} {{address.lastName}}</li>
            <li>{{address.postalAddress.streetAddress}}</li>
            <li>{{address.postalAddress.postalCode}} {{address.postalAddress.locality}}</li>
            <li>{{address.telephone}}</li>
          </ul>
        {{/let}}
        {{#if (eq this.basket.deliveryType "http://veeakker.be/delivery-methods/postal")}}
          {{#if this.basket.hasCustomDeliveryPlace}}
            {{#let this.basket.deliveryAddress as |address|}}
              <h3>Levering op</h3>
              <ul>
                {{#if address.company}}
                  <li>{{address.company}}</li>
                {{/if}}
                <li>{{address.firstName}} {{address.lastName}}</li>
                <li>{{address.postalAddress.streetAddress}}</li>
                <li>{{address.postalAddress.postalCode}} {{address.postalAddress.locality}}</li>
                <li>{{address.telephone}}</li>
              </ul>
            {{/let}}
          {{/if}}
        {{else if (eq this.basket.deliveryType "http://veeakker.be/delivery-methods/tour")}}
          <h3>Levering op toer</h3>
          <ul>
            {{#let this.basket.deliveryPlace.postalAddress as |postalAddress|}}
              <li>{{postalAddress.streetAddress}}</li>
              <li>{{postalAddress.postalCode}} {{postalAddress.locality}}</li>
            {{/let}}
          </ul>
        {{else if (eq this.basket.deliveryType "http://veeakker.be/delivery-methods/shop")}}
          <h3>Afhalen in bioshop</h3>
          <ul>
            {{#let this.basket.deliveryPlace.postalAddress as |postalAddress|}}
              <li>{{postalAddress.streetAddress}}</li>
              <li>{{postalAddress.postalCode}} {{postalAddress.locality}}</li>
            {{/let}}
          </ul>
        {{/if}}
      {{/if}}
      <div class="frost-div">
        <img class="frost" src="/images/vries.png" alt="Frozen icon" width="25" />
        <p>Zorg voor een diepvries indien je diepgevroren producten bestelt!</p>
      </div>
    </div>
    <div class="cart-total">
      <p class="cart-price">
        Prijs levering <span class="money">gratis</span> <br/>
        Totaalprijs <span class="money">{{euros this.totalCost}}</span>
      </p>
      {{!-- <p>BTW 6% <span class="money">€x</span></p>  --}}
      <h1 class="button-product-cart">bedankt voor je bestelling!</h1>
    </div>
  </div>
</div>

<div class="order">
  <h2>Bestelde producten</h2>
  {{#if this.basket.orderLines}}
    <Webshop::OrderLines @orderLines={{this.basket.orderLines}} />
  {{/if}}
</div>

{{outlet}}
