{{outlet}}


<ul class="breadcrumb-cart">
  <li><LinkTo @route="webshop.basket">Winkelmandje</LinkTo></li>
  <li><LinkTo @route="webshop.checkout.contact-info">Uw Gegevens</LinkTo></li>
  <li><LinkTo @route="webshop.checkout.delivery">Levering / Afhaling</LinkTo></li>
  <li><span class="breadcrumb-txt">Betalingsgegevens</span></li>
  <li><span class="breadcrumb-nxt">Bevestig Bestelling</span></li>
</ul>
<div class="fix"></div>




<div class="checkout-contact">
  <div class="contact-info">
    {{#if this.deliveredOntour}}
      <h2 class="deliveryMessage">
        Je bestelling is cash of met bankcontact te betalen bij afhaling.<br /> <br />
        Het totaalbedrag bij de afsluitende stap is slechts een indicatie van het bedrag.
        Het effectieve totaalbedrag kan hier van afwijken.
      </h2>
    {{else}}
      <iframe title="Payment provider" src={{this.paymentUrl}} width="800" height="600" />
    {{/if}}

    <a href={{this.paymentUrl}}>Open</a>


    {{!-- <h2>Kies je betalingsmethode</h2> --}}

    <br /><br />
    {{!-- <label class="containerCheck">
         <img src="/images/mistercash.png" width="100" />
         <input type="checkbox">
         <span class="checkmarkPay"></span>
         </label>
         <br />
         <label class="containerCheck">
         <img src="/images/visa.png" width="100" />
         <input type="checkbox">
         <span class="checkmarkPay"></span>
         </label>
         <br />
         <label class="containerCheck">
         <img src="/images/mastercard.png" width="100" />
         <input type="checkbox">
         <span class="checkmarkPay"></span>
         </label>
         <br />
         <label class="containerCheck">
         <img src="/images/paypal.png" width="100" />
         <input type="checkbox">
         <span class="checkmarkPay"></span>
         </label> --}}
    <br />


    <div class="cart-total">
      <p>Prijs <span class="money">{{euros this.basket.totalPrice}}</span></p>
      <p>Prijs levering: <span class="money">gratis</span></p>
      <p>BTW 6% <span class="money">€x</span></p>
      <p>Totaalprijs <span class="money">€x</span></p>    <br />
      <div class="button-product-cart uppercase"><a href={{this.paymentUrl}}>betaal</a></div>
    </div><div class="fix"></div>


  </div>
</div>
{{outlet}}
