{{outlet}}

<div class="my-account">
  <Account::Links />

  <p id="account-name">{{@model.person.firstName}} {{@model.person.lastName}}</p>

  <div id="account-information">
    <h1>Locatie</h1>
    <dl>
      <dt>Voornaam</dt>
      <dd>
        <input
          {{on "input" (e/pipe (e/str-val) (e/set-prop @model.person "firstName"))}}
          value={{@model.person.firstName}} />
      </dd>
      <dt>Achternaam</dt>
      <dd>
        <input
          {{on "input" (e/pipe (e/str-val) (e/set-prop @model.person "lastName"))}}
          value={{@model.person.lastName}} />
      </dd>
      <dt>Straat</dt>
      <dd>
        <input
          {{on "input" (e/pipe (e/str-val) (e/set-prop @model.person.postalAddress "streetAddress"))}}
          value={{@model.person.postalAddress.streetAddress}}>
      </dd>
      <dt>Postcode</dt>
      <dd>
        <input
          {{on "input" (e/pipe (e/str-val) (e/set-prop @model.person.postalAddress "postalCode"))}}
          value={{@model.person.postalAddress.postalCode}}>
      </dd>
      <dt>Gemeente</dt>
      <dd>
        <input
          {{on "input" (e/pipe (e/str-val) (e/set-prop @model.person.postalAddress "locality"))}}
          value={{@model.person.postalAddress.locality}}>
      </dd>
    </dl>
    <h1>Contact</h1>
    <dl>
      <dt>Telefoonnummer</dt>
      <dd>
        <input
          {{on "input" (e/pipe (e/str-val) (e/set-prop @model.person "phone"))}}
          value={{@model.person.phone}}>
      </dd>
      <dt>Email</dt>
      <dd>{{@model.email}}</dd>
    </dl>
    <button type="button" class="button" {{on "click" (fn this.save)}}>Opslaan</button>
    {{#if this.saved}}
      <p class="info-message">Wijzigingen opgeslagen</p>
    {{/if}}
  </div>
</div>

{{outlet}}