{{outlet}}


<div class="products-shop">
  <h1 class="tab-title">Mijn account</h1>

  <Design::Forks @useDarkImage={{true}} />
  {{!-- <p>Naam: {{this.firstName}}{{this.lastName}}</p> --}}
</div>

{{outlet}}
