{{outlet}}

<div class="products-shop">
  <h1 class="tab-title">Mijn account</h1>

  <Design::Forks @useDarkImage={{true}} />
  <p id="account-name">{{this.model.person.firstName}} {{this.model.person.lastName}}</p>

  <div id="account-information">
    {{#if (not this.editing)}}
      <h1>Locatie</h1>
      <dl>
        <dt>Voornaam</dt>
        <dd>{{this.model.person.firstName}}</dd>
        <dt>Achternaam</dt>
        <dd>{{this.model.person.lastName}}</dd>
        <dt>Straat</dt>
        <dd>{{this.model.person.postalAddress.streetAddress}}</dd>
        <dt>Postcode</dt>
        <dd>{{this.model.person.postalAddress.postalCode}}</dd>
        <dt>Gemeente</dt>
        <dd>{{this.model.person.postalAddress.locality}}</dd>
      </dl>
      <h1>Contact</h1>
      <dl>
        <dt>Telefoonnummer</dt>
        <dd>{{this.model.person.phone}}</dd>
        <dt>Email</dt>
        <dd>{{this.model.email}}</dd>
      </dl>
      <button type="button" class="button" {{on "click" (fn (mut this.editing (not this.editing)))}}>Bewerk</button>
    {{else}}
      <h1>Locatie</h1>
      <dl>
        <dt>Voornaam</dt>
        <dd>
          <input
            {{on "input" (e/pipe (e/str-val) (e/set-prop this.model.person "firstName"))}}
            value={{this.model.person.firstName}} />
        </dd>
        <dt>Achternaam</dt>
        <dd>
          <input
            {{on "input" (e/pipe (e/str-val) (e/set-prop this.model.person "lastName"))}}
            value={{this.model.person.lastName}} />
        </dd>
        <dt>Straat</dt>
        <dd>
          <input
            {{on "input" (e/pipe (e/str-val) (e/set-prop this.model.person.postalAddress "streetAddress"))}}
            value={{this.model.person.postalAddress.streetAddress}}>
        </dd>
        <dt>Postcode</dt>
        <dd>
          <input
            {{on "input" (e/pipe (e/str-val) (e/set-prop this.model.person.postalAddress "postalCode"))}}
            value={{this.model.person.postalAddress.postalCode}}>
        </dd>
        <dt>Gemeente</dt>
        <dd>
          <input
            {{on "input" (e/pipe (e/str-val) (e/set-prop this.model.person.postalAddress "locality"))}}
            value={{this.model.person.postalAddress.locality}}>
        </dd>
      </dl>
      <h1>Contact</h1>
      <dl>
        <dt>Telefoonnummer</dt>
        <dd>
          <input
            {{on "input" (e/pipe (e/str-val) (e/set-prop this.model.person "phone"))}}
            value={{this.model.person.phone}}>
        </dd>
        <dt>Email</dt>
        <dd>{{this.model.email}}</dd>
      </dl>
      <button type="button" class="button" {{on "click" (fn this.finishEditing)}}>Opslaan</button>
    {{/if}}
  </div>
</div>

{{outlet}}
