{{outlet}}


<div class="products-shop">
  <h1 class="tab-title">Mijn account</h1>

  <Design::Forks @useDarkImage={{true}} />
  <p>Naam: {{this.person.firstName}}{{this.person.lastName}}</p>
</div>

{{outlet}}
