<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="products-shop">
  <h1 class="tab-title">winkelmandje</h1>

  <Design::Forks @useDarkImage={{true}}/>

  {{#if (eq this.basket.orderLines.length 0)}}
    <div class="empty-shop">
      <p>Je hebt nog geen producten in je winkelmandje.</p>
      <div class="button-product"><LinkTo @route="webshop" class="uppercase">verder winkelen</LinkTo></div>
    </div>
  {{else}}
    <div class="cart-item"></div>

    {{#each this.basket.orderLines as |orderLine|}}
      <div class="cart-item">
        <LinkTo class="cart-thumbnail" @route="webshop.product" @model={{orderLine.product}}>
          <ProductCard::Thumbnail  @product={{orderLine.offering.typeAndQuantity.product}} />
        </LinkTo>
        <div class="order-info">
          <h3>
            <LinkTo @route="webshop.product" @model={{orderLine.product}}>
              {{orderLine.offering.typeAndQuantity.product.label}}
            </LinkTo>
          </h3>
          <h4>Bevat: <Webshop::Basket::Amount @amount={{orderLine.offering.typeAndQuantity}} /></h4>
        </div>
        <div class="order-extra">
          <h4>{{euros orderLine.pricePerUnit}} / pakje</h4>
          <i class="fas fa-times"></i>
          <h4>{{orderLine.amount}}</h4>
          <br>
          <br>
          <button id="remove-button" {{action this.removeOrderLine orderLine.offering orderLine.amount}} type="button">
            <i class="fas fa-trash"></i>
          </button>
          <h4 id="total-text">Totaal: {{euros orderLine.price}}</h4>
        </div>
      </div>
    {{/each}}

    <div class="cart-total">
      <p class="cart-price"><span class="money">{{euros this.basket.totalPrice}}</span></p>
      <p class="cart-message">Exclusief verzendkosten</p>
      <div class="button-product-cart"><LinkTo @route="webshop.checkout.contact-info" class="uppercase">verder bestellen</LinkTo></div>
    </div>
  {{/if}}
</div>
{{outlet}}
