{{!-- We should get rid of this product id dependency --}}
<div id="product" class="products-shop">
  <div>
    <div class="product-info">
      <div class="info-img">
        <ProductCard::Thumbnail @product={{this.model}} />
      </div>
      <div class="info-txt">
        <h3 class="uppercase">{{model.label}}</h3>
        <p class="no-padding">{{model.altLabel}}</p>
        <a href="#">
          <img src="/images/favob.png" alt="Favorite icon" width="21" />
        </a>
        <a href="#"><img src="/images/vries.png" alt="Frozen icon" width="21" /></a>
        <a href="#"><img src="/images/product-logo.png" alt="Producer logo" width="21" /></a><br />
        <br />

        <div class="amounts">
          <div class="configuration">
            <div class="per-pakje">
              Per pakje: <ProductCard::Offers @product={{model}} @onChange={{action (mut selectedOffer)}} @selected={{this.currentOffer}} />
            </div>

            <div class="pakjes">
              Pakjes: {{number-button value=packageCount}}
            </div>      
          </div>

          <ProductCard::PackagesImage @count={{packageCount}} @offer={{this.currentOffer}} />
        </div>

        <div class="button-product"><button {{action this.add}}>bestellen</button></div>
      </div><div class="fix"></div>
    </div>



    <div class="extra-menu-product">
      {{#link-to "webshop.product.information" model class="info tablinks uppercase"}}<h5>informatie</h5>{{/link-to}}
      {{#link-to "webshop.product.ingredients" model class="ingre tablinks uppercase"}}<h5>ingrediënten</h5>{{/link-to}}
      {{#link-to "webshop.product.nutricional-values" model class="food tablinks uppercase"}}<h5>voedingswaarden</h5>{{/link-to}}
      {{#link-to "webshop.product.allergenics" model class="aler tablinks uppercase"}}<h5>allergenen</h5>{{/link-to}}
    </div><div class="fix"></div>
    <div class="tabcontent">
      {{outlet}}

      <Design::Gallery />
    </div>
  </div>
</div>
<div class="fix"></div>
