<div id="product">
  <div class={{concat "product-info" (if this.model.isEnabled "" " product-disabled")}}>
    <div class="info-img">
      <ProductCard::Thumbnail @product={{this.model}} @large={{true}} />
    </div>
    <div class="info-txt">
      <h3>{{this.model.label}}</h3>
      <p class="no-padding">{{this.model.altLabel}}</p>

      {{#each this.model.enabledLabelArray as |label|}}
        <img id="product-labels" src={{label.image}} alt={{concat label.label "icon"}} width="21" />
      {{/each}}
      <br />

      {{#if this.model.isEnabled}}
        <div class="amounts">
          <div class="configuration">
            <div class="per-pakje">
              Per pakje:
              <div class="per-pakje-input">
                <ProductCard::Offers @product={{this.model}} @onChange={{action (mut this.selectedOffer)}} @selected={{this.currentOffer}} />
                {{#if this.model.offerings}}
                  <div class="eenheid">
                    <ProductCard::OfferType @units={{this.getUnits}} @onChange={{action (mut this.selectedUnit)}} />
                  </div>
                {{/if}}
              </div>
            </div>

            <div class="pakjes">
              Pakjes: <NumberButton @value={{this.packageCount}} @onChange={{action (mut this.packageCount)}} />
            </div>
          </div>

          <ProductCard::PackagesImage @count={{this.packageCount}} @offer={{this.currentOffer}} />
        </div>

        <button class="button-product" type="button" {{action this.add}}>Bestellen</button>
        {{#if this.session.isAuthenticated}}
          {{#if this.favouriteRecord}}
            <button class="fav-button" {{on "click" this.unFavourite}} type="button"><i class="fas fa-heart"></i></button>
          {{else}}
            <button class="fav-button" {{on "click" this.favourite}} type="button"><i class="far fa-heart"></i></button>
          {{/if}}
        {{/if}}
      {{else}}
        <br />
        Dit product is momenteel niet beschikbaar
      {{/if}}
    </div>
  </div>

  <div class="extra-menu-product">
    <LinkTo @route="webshop.product.information" @model={{this.model}}><h5>informatie</h5></LinkTo>
    {{#if this.model.ingredientsText}}
      <LinkTo @route="webshop.product.ingredients" @model={{this.model}}><h5>ingrediënten</h5></LinkTo>
    {{/if}}
    {{#if this.model.nutricionDataText}}
      <LinkTo @route="webshop.product.nutricional-values" @model={{this.model}}><h5>voedingswaarden</h5></LinkTo>
    {{/if}}
    {{#if this.model.allergensText}}
      <LinkTo @route="webshop.product.allergenics" @model={{this.model}}><h5>allergenen</h5></LinkTo>
    {{/if}}
    <p>{{outlet}}</p>
    <Design::Gallery />
  </div>
</div>
