<div class="locaties">
  <div class="locatiestopbanner">
    {{!-- <div class="talen">
      <LanguageList />
    </div> --}}
    <h1 class="uppercase">waar zijn we te vinden?</h1>
    <Design::Forks/>
  </div>
  <div class="extra-menu">
    <LinkTo @route="locations.kind" @model="routes">Toeren</LinkTo>
    <LinkTo @route="locations.kind" @model="health-shops">Natuurwinkels</LinkTo>
    <LinkTo @route="locations.kind" @model="local-farms">Buurderijen</LinkTo>
    <LinkTo @route="locations.kind" @model="home-delivery">Aan huis</LinkTo> {{!-- TODO: moet dit "aan huis" worden? --}}
  </div><div class="fix">{{outlet}}</div>
  <div class="legende" >
    <table>
      <tbody>
        <tr>
          <th><img src="/images/van.png" width="40" height="40" alt="foto van een van"> <p>Toer</p></th>
          <th><img src="/images/shop.png" width="40" height="40" alt="foto van een shop"> <p>natuurwinkel</p></th>
          <th><img src="/images/barn.png" width="40" height="40" alt="foto van een bord"> <p>buurderij</p></th>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="maps">
    <DeliveryLocationsMap @places={{this.enabledLocations}} as |marker place|>
      <h3>{{place.deliveryKind.simpleName}} {{place.label}}</h3>
      <p>{{place.postalAddress.streetAddress}}<br/>{{place.postalAddress.postalCode}} {{place.postalAddress.locality}}</p>

      <LinkTo @route="locations.kind" @model={{place.deliveryKind.normalizedLabel}}>
        Klik hier om meer te weten over leveringen via {{place.deliveryKind.simpleName}}.
      </LinkTo>
    </DeliveryLocationsMap>
  </div>



</div>
