<div id="locaties">
  <div id="locatiestopbanner">
    <div class="talen">
      <LanguageList />
    </div>
    <h1 class="uppercase">waar zijn we te vinden?</h1>
    <Design::Forks/>
  </div>
  <div class="maps">
    <DeliveryLocationsMap @places={{model}} />
  </div>
  <div class="extra-menu">
    {{link-to "Winkel" "locations.kind" "butchery"}}
    {{link-to "Toeren" "locations.kind" "routes"}}
    {{link-to "Natuurwinkels" "locations.kind" "health-shops"}}
    {{link-to "Buurderijen" "locations.kind" "local-farms"}}
    {{link-to "Webshop" "locations.kind" "home-delivery"}} {{!-- TODO: moet dit "aan huis" worden? --}}
  </div><div class="fix"></div>

  {{outlet}}
</div>
