<div class="locaties">
  <div class="locatiestopbanner">
    {{!-- <div class="talen">
      <LanguageList />
    </div> --}}
    <h1 class="uppercase">waar zijn we te vinden?</h1>
    <Design::Forks/>
  </div>
  <div class="maps">
    <DeliveryLocationsMap @places={{this.model}} as |marker place|>
      <h3>{{place.deliveryKind.simpleName}}</h3>
      {{#let place.deliveryKind.normalizedLabel as |normalizedLabel|}}
        {{#if (eq normalizedLabel "butchery")}}
          <LinkTo @route="locations.kind" @model={{place.deliveryKind}}>
            Klik hier om meer te weten over de slagerij als afhaal-locatie.
          </LinkTo>
        {{/if}}
        {{#if (eq normalizedLabel "routes")}}
          <LinkTo @route="locations.kind" @model={{place.deliveryKind}}>
            Klik hier om meer te weten over leveringen via toeren.
          </LinkTo>
        {{/if}}
        {{#if (eq normalizedLabel "health-shops")}}
          <LinkTo @route="locations.kind" @model={{place.deliveryKind}}>
            Klik hier om meer te weten over leveringen via natuurwinkels.
          </LinkTo>
        {{/if}}
        {{#if (eq normalizedLabel "local-farms")}}
          <LinkTo @route="locations.kind" @model={{place.deliveryKind}}>
            Klik hier om meer te weten over leveringen via buurderijen.
          </LinkTo>
        {{/if}}
        {{#if (eq normalizedLabel "home-delivery")}}
          <LinkTo @route="locations.kind" @model={{place.deliveryKind}}>
            Klik hier om meer te weten over thuisleveringen.
          </LinkTo>
        {{/if}}
      {{/let}}
    </DeliveryLocationsMap>
  </div>
  <div class="extra-menu">
    <LinkTo @route="locations.kind" @model="butchery">Winkel</LinkTo>
    <LinkTo @route="locations.kind" @model="routes">Toeren</LinkTo>
    <LinkTo @route="locations.kind" @model="health-shops">Natuurwinkels</LinkTo>
    <LinkTo @route="locations.kind" @model="local-farms">Buurderijen</LinkTo>
    <LinkTo @route="locations.kind" @model="home-delivery">Webshop</LinkTo> {{!-- TODO: moet dit "aan huis" worden? --}}
  </div><div class="fix"></div>

  {{outlet}}
</div>
