{{outlet}}
<div class="login">
  <div class="checkout-contact">
    <div class="contact-info">

      <h1 class="tab-title">inloggen</h1>

      <Design::Forks @useDarkImage={{true}}/>

      <br>

      <div class="error-message">
        {{#if this.error }}
          {{ this.error }}
        {{/if}}
      </div>

      <Input @type="email" @value={{this.email}} placeholder="E-mail" /> <br />
      <Input @type="password" @value={{this.password}} placeholder="Wachtwoord" /> <br />

      <div class="button-product-cart"><a {{on 'click' this.login }} href="#">Inloggen</a></div>
      <div class="button-product-cart"><LinkTo @route="webshop.register">Registreer</LinkTo></div>
      <div class="button-product-cart"><a href="#">Wachtwoord vergeten?</a></div>
    </div>
  </div>
</div>
{{outlet}}
