<div class="webshop-header">
  <div class="account-header">
    {{!-- TODO: implement search --}}
    {{!-- <li class="flex"><a href="#"><img src="/images/zoekb.png" width="18" alt="search trigger icon" /></a> <input class="searchbox" type="text" placeholder="zoeken" name="search"> --}}
    {{!-- TODO: make static content dynamic --}}
    <div>
      {{#if this.loggedIn}}
        <LinkTo @route="webshop.account"><img src="/images/loginb.png" width="13" alt="account icon" /></LinkTo>
        <LinkTo @route="webshop.orders">><img src="/images/bestellingenb.png" width="13" alt="orders icon" />bestellingen</LinkTo>
        <LinkTo @route="webshop.favorites">><img src="/images/favob.png" width="13" alt="favorites icon" /></LinkTo>
        {{!-- TODO: implement --}}<a href="#">afmelden</a>
      {{else}}
        <LinkTo @route="webshop.login">Log in</LinkTo>
      {{/if}}
      {{!-- TODO: create single page help --}} <LinkTo @route="webshop.help">Help</LinkTo>
      
      <LinkTo @route="webshop.basket">
        {{#if this.basket.orderLines.length}}
          {{this.basket.orderLines.length}}
        {{/if}}
        <img src="/images/winkelmandjeb.png" alt="shopping basket icon" width="15" />
        {{euros this.basket.totalPrice}}
      </LinkTo>
    </div>
  </div>

  <div class="scrollable-header menu-header">
    {{#each this.sortedProductGroups as |productGroup|}}
      <LinkTo @route="webshop.product-groups.show" @model={{productGroup}}>{{productGroup.label}}</LinkTo>
    {{/each}}
  </div>
</div>

{{outlet}}
