<div class="webshop-header">
  <div class="account-header">
    {{!-- TODO: implement search --}}
    {{!-- <li class="flex"><a href="#"><img src="/images/zoekb.png" width="18" alt="search trigger icon" /></a> <input class="searchbox" type="text" placeholder="zoeken" name="search"> --}}
    {{!-- TODO: make static content dynamic --}}
    <div>
      {{#if this.session.isAuthenticated}}
        <LinkTo @route="webshop.account"><i class="fas fa-user-alt"></i></LinkTo>
        <LinkTo @route="webshop.favourites"><i class="fas fa-heart"></i></LinkTo>
        <button type="menu" {{on "click" this.logout}}><i class="fas fa-sign-out-alt"></i></button>
      {{else}}
        <LinkTo @route="webshop.login">Log in</LinkTo>
      {{/if}}
      {{!-- TODO: create single page help --}} <LinkTo @route="webshop.help"><i class="fas fa-question-circle"></i></LinkTo>
      
      <LinkTo @route="webshop.basket">
        {{#if this.basket.orderLines.length}}
          {{this.basket.orderLines.length}}
        {{/if}}
        <i class="fas fa-shopping-basket"></i>
        {{euros this.basket.totalPrice}}
      </LinkTo>
    </div>
  </div>

  <div class="scrollable-header menu-header">
    {{#each this.sortedProductGroups as |productGroup|}}
      <LinkTo @route="webshop.product-groups.show" @model={{productGroup}}>{{productGroup.label}}</LinkTo>
    {{/each}}
  </div>
</div>

{{outlet}}
