<nav>
  <div class="header-webshop webshopMenu">
    <div class="talenWebshop">
      <ul>
        {{!-- TODO: replace with language picker --}}
        <li><a href="#">NL</a></li>
        <li><a href="#">FR</a></li>
        <li><a href="#">EN</a></li>
      </ul>
    </div>
    <div class="top-menu">

      {{!-- TODO: replace with dynamic button --}}
      <div class="webshop-menu overlay">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNavWebshop()">&times;</a>


        <ul class="overlay-content">
          {{#each this.sortedProductGroups as |productGroup|}}
            <li class="dropdown">
              <LinkTo @route="webshop.product-groups.show" @model={{productGroup}}>{{productGroup.label}}</LinkTo>
              {{#if productGroup.sortedChildren.length}}
                <div class="dropdown-content-menu">
                  {{#each productGroup.sortedChildren as |subGroup|}}
                    <LinkTo @route="webshop.product-groups.show.subgroups.show" @models={{elements productGroup subGroup}}>{{subGroup.label}}</LinkTo>
                  {{/each}}
                </div>
              {{/if}}
            </li>
          {{/each}}
        </ul>
      </div>
      <div class="fix"></div>
      <div class="mobile-menu"><span class="webshop-menu-small" onclick="openNavWebshop()">&#9776;</span></div>
    </div>
  </div>

  <div class="header-webshop-small webshopMenu">
    <div class="top-menu">
      <div id="webshop-menu-small">
        <ul>
          {{!-- TODO: implement search --}}
          <li class="flex"><a href="#"><img src="/images/zoekb.png" width="18" alt="search trigger icon" /></a> <input class="searchbox" type="text" placeholder="zoeken" name="search"></li>
          {{!-- TODO: make static content dynamic --}}
          <li class="small-menu">
            <LinkTo @route="webshop.basket">
              {{#if this.basket.orderLines.length}}
                {{this.basket.orderLines.length}}
              {{/if}}
              <img src="/images/winkelmandjeb.png" alt="shopping basket icon" width="15" />
              {{euros this.basket.totalPrice}}
            </LinkTo>
          </li>

          <li class="dropdownSmall small-menu">
            <LinkTo @route="webshop.login"><span class="uppercase">inloggen</span></LinkTo>
            <div class="dropdown-content-menuSmall">
              {{!-- TODO: these icons should be set as background icons, they don't represent functionality themselves --}}
              <LinkTo @route="webshop.account"><img src="/images/loginb.png" width="13" alt="account icon" /></LinkTo>
              <LinkTo @route="webshop.orders">><img src="/images/bestellingenb.png" width="13" alt="orders icon" /><span class="uppercase">bestellingen</span></LinkTo>
              <LinkTo @route="webshop.favorites">><img src="/images/favob.png" width="13" alt="favorites icon" /><span class="uppercase">favorieten</span></LinkTo>
              <a href="#"><span class="uppercase">afmelden</span></a> {{!-- TODO: implement --}}
            </div>
          </li>
          <li class="small-menu"><LinkTo @route="webshop.help"><span class="uppercase">help</span></LinkTo></li>
        </ul>

      </div>
      <div class="fix"></div>
    </div>
  </div>

</nav>

{{outlet}}

<div class="footerWebshop">
  <ul>
    <li><LinkTo @route="webshop.collection-points" class="uppercase">levering &amp; afhaling</LinkTo></li>
    <li><LinkTo @route="webshop.conditions" class="uppercase">algemene voorwaarden</LinkTo></li>
    <li><LinkTo @route="contact-us" class="uppercase">contact info</LinkTo></li>
  </ul>
  <div class="fix"></div>
</div>
